@{
    ViewBag.Title = "Home Page";
}
<div class="page-header indexh">
    <h1>Welcome to the Virtual Library System</h1>
</div>
<h3>Always read stuff that will make you look good if you die in the middle of it.
- P.J. O’Rourke</h3>
<br/><br/>
<div class="row">
    <div class="centerbuttons">
        <div class="btn-group">
            <button id="btn-books" class="btn btn-default">Browse All Books</button>
            <button id="btn-mems" class="btn btn-default">Member Options</button>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Home.js"></script>
    }