@model LibSystem.Models.MemberBookVM
   
@{
    ViewBag.Title = "Loan";
}

<h2>Loan</h2>

<h3>Choose your membership number or search for your name</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p class="search">
        Choose your name from the list of members: @Html.DropDownListFor(model => model.memberName, new SelectList(Model.MemberTable, "Value", "Text"), new { @class = "inputs" })
    </p>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Loan Book" class="btn btn-default" />
    </div>
}
